<div class="unit-wrapper">
  <div class="avatar">
    <%= image_tag c.user.image %>
  </div>
  <span class="name" title="Hey Mike 塞me">
    <%= c.user.name %>
  </span>
  <div class="leave-msg">
    <span>
      <%= c.content %>
    </span>
    <% if c.created_at > Time.now.beginning_of_day %>
      <span><%="#{time_ago_in_words(c.created_at)}前"%></span>
    <% else %>
      <span><%= c.created_at.strftime("%b %d, %Y") %></span>
    <% end %>
  </div>
</div>