  <%=form_for @host , url: host_path(@host),:html => { :multipart => true } do |f|%>
  <div class="modal-content">
    <h4>主辦單位資料</h4>

    <div class="input-field">
      <%= f.text_field :name %>
      <%= f.label :name, "姓名" %>
    </div>

    <div class="input-field">
      <%= f.text_field :address %>
      <%= f.label :address, "地址" %>
    </div>

    <div class="input-field">
      <%= f.text_field :website %>
      <%= f.label :website, "網址" %>
    </div>

    <div class="input-field">
      <%= f.text_field :email %>
      <%= f.label :email, "E-mail" %>
    </div>

    <div class="input-field">
      <%= f.text_field :cell_phone %>
      <%= f.label :cell_phone, "電話" %>
    </div>

    <div class="input-field">
      <%= f.text_field :description %>
      <%= f.label :description, "描述" %>
    </div>

    <% if @host_image.empty? %>

      <% 4.times do %>
        <%=render partial: "partials/hoster_edit_form_photo" ,:locals => { :f => f}%>
      <%end %>

    <% else %>

      <% @host_image.each do |img| %>
        <% @count = 4 - @host_image.length %> <%# 計算沒有文件的可上傳空位 %>
        <div id="img-<%=img.id%>">

          <%= image_tag img.pic.url(:thumb) %>
          <%= link_to "刪除", host_photo_path(@host,img),:remote => true,:method =>:delete  %>

        </div>
        <div id="input-<%=img.id%>" style="display:none">
          <%= render partial: "partials/hoster_edit_form_photo", locals: { :f => f } %>
        </div>
      <% end %>

      <% @count.times.each do %> <%# 產生輸入框補滿空位 %>

        <%= render partial: "partials/hoster_edit_form_photo", locals: { :f => f } %>

      <% end %>

    <% end %>

    <%#= render_input_or_image(@host_image,f)%>

  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">取消</a>
    <%= f.submit "儲存", :class=>" modal-action modal-close waves-effect waves-green btn-flat"%>
  </div>
  <% end %>


