<!-- navigation path -->
<!-- <div class="host-page-path">
  <span>頁面路徑  / 主辦單位活動列表 / 台北威秀影城</span>
</div> -->
<!-- main wrapper -->
<div class="new-promo-wrapper">

<!-- options -->
  <div class="options">
    <div class="create">
      <a href="#">
        <span>宣傳工具</span>
      </a>
    </div>
  </div>
<!-- description -->
  <div class="step-by-step">
    <div class="step-wrapper">
      <span>在JoinFuns建立的活動將獲得優先曝光</span>
      <div class="circle-wrapper">

        <div class="step">
          <span class="circle">1</span>
          <span>建立活動資訊</span>
        </div>

        <div class="step">
          <span class="dots">
            <%= image_tag 'dot-dot-bg.png' %>
          </span>
          <span>&nbsp</span>
        </div>

<!-- #TODO dot-dot-dot -->
        <div class="step actived">
          <span class="circle">2</span>
          <span>選取宣傳工具</span>
        </div>

      </div>
    </div>
  </div>

<!-- promo input 1st -->

  <div class="promo-info">

    <div class="info-box">
      <span class="title">帳戶餘額</span>
      <span class="balance"><%= current_user.money %></span>
      <span><%= link_to "重新整理",controller: "events", action: "get_balance" ,:method=>"get",:remote=>true%></span>
    </div>

<!-- option for -->
    <div class="deposit-wrapper">
      <!-- <a href="#" class="option"> -->
      <%= link_to new_order_path,target: "_blank" do %>
        <span>立即儲值</span>
      <% end%>
      <!-- </a> -->
    </div>


    <div class="budget-wrapper">
      <div class="budget">
        <div class="free-promo">
          <input type="checkbox" name="free-promo" id="free-promo">
          <label for="free-promo">我要免費宣傳活動</label>
        </div>
        <div class="border-wrapper">
          <label for="promo-title7">宣傳預算</label>
          <span>
           <!--  <input type="text" id="promo-title7" placeholder="請輸入您的宣傳預算"> -->
           <%= f.text_field :budget, :value => 0  %>
          </span>
        </div>
      </div>

    </div>
<!-- select time -->
    <div class="select-wrapper">
      <span class="promo-time">曝光時間</span>
      <span class="check-wrapper">
       <!--  <input type="radio" name="second" id="second-0"> -->
        <%= f.radio_button :showtime,"0", :checked => "checked"%>
        <%= f.label :showtime, '0秒',:value => '0' %>
        <%= f.radio_button :showtime,"2"%>
        <%= f.label :showtime, '2秒',:value => '2' %>
        <%= f.radio_button :showtime,"5"%>
        <%= f.label :showtime, '5秒',:value => '5' %>
        <%= f.radio_button :showtime,"15"%>
        <%= f.label :showtime, '15秒',:value => '15' %>
        <%= f.radio_button :showtime,"30"%>
        <%= f.label :showtime, '30秒',:value => '30' %>
        <%= f.radio_button :showtime,"60"%>
        <%= f.label :showtime, '60秒',:value => '60' %>
        <!-- <label for="second-0">0 秒</label> -->
        <!-- <input type="radio" name="second" id="second-3">
        <label for="second-3">3 秒</label>
        <input type="radio" name="second" id="second-5">
        <label for="second-5">5 秒</label>
        <input type="radio" name="second" id="second-10">
        <label for="second-10">10 秒</label>
        <input type="radio" name="second" id="second-30">
        <label for="second-30">30 秒</label>
        <input type="radio" name="second" id="second-60">
        <label for="second-60">60 秒</label> -->
      </span>
    </div>
    <div class="content-wrapper">
      <div class="inner-wrapper">
        <span class="timing">單次DM限制曝光時間：<span>0秒</span></span>
        <span class="charge">單次曝光費用：<span>0</span>元/次</span>
        <span class="remaining">目前預算可曝光次數：<span>0</span> /次</span>
      </div>

    </div>
<!-- form option -->
    <div class="final-options">
      <div class="option cancle">
        <a href="#">
          <span>上一步 | 填寫詳細資訊</span>
        </a>
      </div>
      <div class="option next actived">
       <!--  <a href="#">
          <span>SUBMIT | 送出資料</span>
        </a> -->

          <%= f.submit "SUBMIT | 送出資料" %>


      </div>
    </div>

  </div>



</div>


<%= content_for :handwrite_js do %>


<script>
$('.main-function-bar-wrapper').hide();

function displaySecs() {

  var second = $("input:checked").val();
  $( ".timing span" ).text(second+"秒");

}

function displayCost() {
  var second = $("input:checked").val();
  switch (second) {
    case "0":
        cost = "2";
        break;
    case "2":
        cost = "3";
        break;
    case "5":
        cost = "5";
        break;
    case "15":
        cost = "10";
        break;
    case "30":
        cost = "15";
        break;
    case "60":
        cost = "25";
        break;
  }
  $(".charge span").text(cost);
}

function displayTimes(){

  var budget = parseInt($("#event_budget").val());
  var per = parseInt($(".charge span").text());
  $(".remaining span").text(budget/per);
}

function onchange(){
  displaySecs();
  displayCost();
  displayTimes();
}

$( "input" ).change( onchange );

$( "#event_budget" ).keyup(displayTimes);

$("#free-promo").change(function() {
    if(this.checked) {

      $(".border-wrapper").hide();
      $(".select-wrapper").hide();
      $(".content-wrapper").hide();
      $("#event_budget").val("0");

    }
    else{

      $(".border-wrapper").show();
      $(".select-wrapper").show();
      $(".content-wrapper").show();

    }
});

</script>

<% end %>