<!-- map canvas -->
<div class="map-canvas" id="map"></div>

<!-- user position marker -->
<%= render partial: 'partials/user_position_marker' %>

<!-- panels -->
<%= render partial: 'partials/filter_panel' %>

<!-- dm panels -->
<%= render partial: 'partials/dm_panel' %>

<%= content_for :handwrite_js do %>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      //markers = handler.addMarkers(<%=raw @hash.to_json %>);

      markers_json = <%=raw @hash.to_json %>;
    markers = _.map(markers_json, function(marker_json){
      marker = handler.addMarker(marker_json);
      _.extend(marker, marker_json);
      return marker;
    });

    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();

    // Add event listener on marker click
    for (var i = 0; i <  markers.length; ++i) {
      var marker = markers[i];
      google.maps.event.addListener(marker.serviceObject, 'click', onMarkerClick(marker, event));
    }

    function onMarkerClick(marker, event){
      return function(event){
        // On marker click, make AJAX request on "flats#show"
        //$.get("/flats/" + marker.id);
        alert(marker.id)
      }
    }


      //Gmaps.store.markers = markers.map(function(m) {
      //  marker = handler.addMarker(m);
      //  marker.serviceObject.set('id', m.id); // You can add other attributes using set
      //  return marker;
      //});


      //handler.bounds.extendWith(markers);
      //handler.fitMapToBounds();


      //for (var i=0;i < markers.length; i++){
      //  var marker = markers[i];

      //  google.maps.event.addListener(marker.getServiceObject(), "click", function(evt) {
      //    console.log(marker);

       // });
      })
    //});








    //$(document).ready(JoinFuns.initialMap());
    $(document).ready(JoinFuns.initMaterialSelect());
    $(document).ready(JoinFuns.filterTriggerInit());
  </script>
<% end %>
